<header class="bg-primary text-primary-text px-4 py-2">
  <div class="max-w-5xl mx-auto flex justify-between items-center">
    <div>
      <nav>Logo</nav>
    </div>
    <div>
      <ul class="flex justify-center items-center gap-3 font-playfair">
        <li><nav>Posts</nav></li>
        <li><nav>About Me</nav></li>
        <li><nav>Categories</nav></li>
      </ul>
    </div>
  </div>
</header>
