<header class="bg-base text-primary-text px-4 py-2">
  <div class="max-w-5xl mx-auto flex justify-between items-center">
    <div>
      <nav><a href="/">Logo</a></nav>
    </div>
    <div>
      <ul
        class="flex justify-center items-center gap-6 font-playfair font-normal text-md"
      >
        <li><nav>Posts</nav></li>
        <li><nav>About Me</nav></li>
        <li><nav>Categories</nav></li>
      </ul>
    </div>
  </div>
</header>
