<header
  class="max-w-7xl mx-auto bg-background-light text-primary-text font-plusjakarta px-4 py-4 sticky z-10 top-0 border-b border-separator/80 backdrop-blur-sm"
>
  <div class="max-w-5xl mx-auto flex justify-between items-center">
    <h1 class="text-xl font-plusjakarta font-bold text-primary-text">
      <a href="/">Milja Travels</a>
    </h1>
    <div
      class="hidden md:flex justify-center items-center gap-8 text-sm text-nav font-medium"
    >
      <nav><a href="/my-posts/1">Posts</a></nav>
      <nav><a href="/category">Categories</a></nav>
      <nav>About Me</nav>
      <nav>Contact</nav>
    </div>
  </div>
</header>
