<footer
  class="flex flex-col justify-center items-center gap-2 bg-base px-4 py-8 text-center font-inter text-primary-text"
>
  <p class="">Milja's Travel Blog ✈️</p>

  <div>
    <a href="#">Instagram</a>
    <a href="#">YouTube</a>
    <a href="#">Contacto</a>
  </div>

  <p>© 2025 - my travel memories</p>
</footer>
