---
import "@fontsource-variable/inter";
import "@styles/global.css";
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Blog of all my trips around the world" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background-light">
    <Header />
    <slot />
    <Footer />

    <ClientRouter />
  </body>
</html>

<script>
  // To smoothly scroll tp all posts section when pagination is active
  document.addEventListener("astro:after-swap", () => {
    const postsSection = document.getElementById("posts");
    if (postsSection) {
      postsSection.scrollIntoView({ behavior: "smooth" });
    }
  });
</script>
